body{
    margin: 0px;
    background-color:lightgray;
}
.balken{
    display: flex;
    background-color: limegreen;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.balken > a{
    text-decoration: none;
    font-size: xx-large;
}
.flex-container{
    display: flex;
    margin:20px;
    justify-content: center;
}
.profil{
    width: 500px;
    background-color:#ffffff ;
    margin:0px;
    border: solid 1px black;
}
.profil > p{
    margin: 0px;
    text-align: center;
    font-size: larger;
}
.profil > img{
    border-bottom: solid 1px black;
}